use Mix.Config

# Configure your database
config :yggdrasil, Yggdrasil.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "",
  database: "yggdrasil_dev",
  hostname: "localhost",
  pool_size: 10

config :gold, :btc_testnet, [
  hostname: "localhost",
  port: 18332,
  user: "user1",
  password: "pass1"
]

config :gold, :btc_mainnet, [
  hostname: "localhost",
  port: 18332,
  user: "user1",
  password: "pass1"
]
